<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h2>フォロー</h2>
      <table class="table table-hover">
        <tbody>
          <% @users.each do |user|%>
          <tr>
            <td>
              <%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size:"60x60" %>
            </td>
            <td>
              <%= link_to user.name, user_path(user)%>
              <br>
              <%= user.introduction %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>