<div class="container">
	<div class="row">
		<div class="text-icon">
			<h2>本当に退会しますか？</h2>
			<h3>
				<p>退会られるとコードの見返しができなくなります。<br>
				退会される場合は、『退会する』をクリックして下さい。</p>
			</h3>
			<div>
				<div>
					<%= link_to "退会しない", user_path(current_user.id), class: "icon"%>
					<%= link_to "退会する", user_path(current_user.id), method: :delete, "data-confirm" => "本当に退会しますか？", class: "icon" %>
					
				</div>
			</div>
		</div>
	</div>
</div>