/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 }
 /*header*/
 header {
 	height: 80px;
 	margin: 0 auto;
 	line-height: 80px;
 }
 .header-logo {
 	font-size: 35px;
 	text-align: center;
 	float: left;
 	margin-left: 30px;
 }
 header nav {
 	float: right;
 	margin-right: 70px;
 }
 header li {
 	list-style: none;
 	display: inline-block;
 	margin: 0 20px;
 }
 .link{
 	text-decoration: none;
 	color: black;
 }

 /*home.トップページ*/
 .top-container {
 	margin-left:230px;
 	text-align: left;
 	float: left;
 }

 .top-main {
 	height: 540px;
 	padding: 200px 0 100px 0;
 	background-image: url(home-top.jpg);
 	background-size: cover;
 	color: white;
 }
 .top-sidebar {
 	margin-top: 100px;
 	margin-left: 200px;
 	float: left;
 }
 /*aboutページと共有*/
 .start {
 	padding: 8px 40px;
 	color: white;
 	background-color: #239b76;
 	border: none;
 	opacity: 0.8;
 	border-radius: 4px;
 	cursor: pointer;
 }
 .start:hover{
 	opacity: 1;
 }